# Ignorar el entorno virtual
.venv/
venv/
# Archivos de compilación de Python
__pycache__/
*.pyc
*.pyo

# Archivos de configuración de IDE
.vscode/
.idea/

# Archivos de caché
*.log
*.tmp

# Ignorar el archivo de configuración
config.json
prueba.py

# Ignorar la carpeta 3-Sandbx y todo su contenido
3-Sandbx/
2-Workng/
